.footer {
  text-align: center;
  width: 544px;
  margin: 183px auto 131px auto;

  @media (max-width: 544px) {
    width: 400px;
  }

  @media (max-width: 420px) {
    width: 300px;
  }

  &__links {
    margin-top: 43px;
    display: flex;
    justify-content: center;

    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
    }

    div {
      font-size: 18px;
      line-height: 21px;
      margin-right: 20px
    }
    div:last-child {
      margin-right: 0;
    }
  }

  &__links1 {
    display: flex;
  }

  &__links2 {
    display: flex;
    @media (max-width: 650px) {
      div {
        margin-top: 20px;
      }
    }
  }

  &__about {
    margin-top: 28px;
    font-size: 18px;
    line-height: 21px;
    color: #808080;
  }

  &__contact {
    margin-top: 30px;

    button {
      font-size: 18px;
      line-height: 21px;
      background: transparent;
      color: #fff;

      width: 260px;
      height: 60px;
      border: 2px solid #FFFFFF;
      border-radius: 6px
    }
  }
}